.learnt {
    border-radius: 10px;
    background-color: #8a2be2;
    width: fit-content;
    transition: transform .2s;
    cursor: pointer;
}

.learnt:hover {
    transform: scale(1.125);
}

.learnt_text {
    text-transform: uppercase;
    border-radius: 1.5vw;
    color: #fff;
    font-size: 1.2rem; 
    padding: 0.05vh 2vw;
}