.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-content {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-content > li {
    padding: 1.5rem 2rem;
    cursor: pointer;
}

.nav_p{
    color: black;
    font-size: 1.1rem;
    transition: transform .2s;
}

.nav_p:hover{
    text-decoration: underline;
    transform: scale(1.125);
}

.icon {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    background-color: var(--main);
    border-radius: 2.5rem;
    transition: transform .2s;
}

.icon:hover {
    transform: scale(1.125);
}